<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [${HOSTNAME}] -%5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="rolling_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>app.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d [%thread] - %5level %logger{10} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>app.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>3</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>200MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="com.despegar.jav" level="INFO" />

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rolling_file"/>
	</root>
</configuration>
