<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [${HOSTNAME}] -%5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="udp" class="com.despegar.jav.UDPAppender">
		<host>udp-misc01</host>
		<port>10010</port>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [${HOSTNAME}] -%5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.despegar.jav" level="INFO" />

	<root level="INFO">
		<appender-ref ref="console" />
		<Appender-ref ref="udp"/>
	</root>
</configuration>
